.panel-title {
    text-align: center;
}
.authenticate-panel{
    text-align: center;
}
.wrapper {
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.panel {
    margin-bottom: 5px;
}
.one {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #c9302c;
}
.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: #2a6496;
}
.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: #5cb85c;
}
.four {
    grid-column: 3;
    grid-row: 3;
    background-color: #d9edf7;
}
.five {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
}